doctype
html(ng-app='noTube')
	head
		meta(charset='utf8')
		base(href='/')
		title noTube
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
		link(rel='stylesheet' href='/css/app.css')
		//- link(rel="stylesheet" href="/bower_components/angular-carousel/dist/angular-carousel.css")
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js')
		//- script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js')
		script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
	body
		block body